name: deploy

on:
  push:
    tags:
      - "*.*.*"
env:
  CARGO_TERM_COLOR: always

jobs:
  build_bin:
    strategy:
      matrix:
        builds:
          - image: ubuntu-latest
            arch: x86_64
          - image: macos-latest
            arch: aarch64-apple
          - image: macos-15-intel
            arch: x86_64-apple

    runs-on: "${{ matrix.image }}"
    steps:
      - uses: actions/checkout@v4
      - run: rustup update
      - run: cargo build --release
      - uses: actions/upload-artifact@v4
        with:
          name: "kla-${{ matrix.arch }}-${{ github.event.release.tag_name }}"
          path: "target/release/kla"
          if-no-files-found: error

      # - uses: actions/upload-artifact@v4
      #   with:
      #     name: "kla-${{ github.event.release.tag_name }}"
      #     path: "target/*/release/kla-*-${{ github.event.release.tag_name }}"
      #     if-no-files-found: error
